# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# ShinyApps.io folders
shinyapps/

# Mac files
.DS_Store

# RStudio projects
*.Rproj


.Rproj.user
